mkdocs==1.6.1
mkdocs-material==9.7.0
mike==2.1.3
markdown==3.9
pymdown-extensions==10.17.2
mkdocs-minify-plugin>=0.2.0
hopsworks-apigen@git+https://github.com/aversey/hopsworks-aliases.git
mkdocstrings[python]==1.0.0
mkdocstrings-python==2.0.1
ruff==0.15.0
linkchecker
