{% extends "_base/attribute.html.jinja" %}

{% block heading scoped %}
  {% block source_link scoped %}
    {% if config.extra.link_source and attribute.source_link %}
      <span style="float:right;font-size:.8rem;font-weight:400"><a href="{{ attribute.source_link }}">[source]</a></span>
    {% endif %}
  {% endblock source_link %}

  {{ super() }}

{% endblock heading %}
