{% extends "_base/function.html.jinja" %}

{% block heading scoped %}
  {% block alias_anchors scoped %}
    {% if function.extra.hopsworks_apigen and function.extra.hopsworks_apigen.aliases %}
      {% for alias in function.extra.hopsworks_apigen.aliases if alias.is_public -%}
        {% if not loop.first %}
          {%- set alias_id = alias.target_module + "." + alias.alias_name -%}
          {% filter heading(
            heading_level+9,
            role="function",
            id=alias_id,
            class="doc doc-heading",
            hidden=true,
            skip_inventory=config.skip_local_inventory,
          ) -%}{%- endfilter %}
        {% endif %}
      {%- endfor %}
    {% endif %}
  {% endblock alias_anchors %}

  {% block source_link scoped %}
    {% if config.extra.link_source and function.source_link %}
      <span style="float:right;font-size:.8rem;font-weight:400"><a href="{{ function.source_link }}">[source]</a></span>
    {% endif %}
  {% endblock source_link %}

  {{ super() }}

{% endblock heading %}

{% block contents scoped %}
  {% block aliases scoped %}
    {% if function.extra.hopsworks_apigen and function.extra.hopsworks_apigen.aliases %}
      <p class="doc doc-class-aliases">
        Aliases: {% for alias in function.extra.hopsworks_apigen.aliases if alias.is_public -%}
          {% if not loop.first %}
            {%- set fullpath = alias.target_module + "." + alias.alias_name -%}
            <a href="#{{fullpath}}"><code>{{fullpath}}</code></a>
            {%- if not loop.last %}, {% endif %}
          {% endif %}
        {%- endfor %}
      </p>
    {% endif %}
  {% endblock aliases %}

  {{ super() }}
{% endblock contents %}
