{% extends "_base/function.html.jinja" %}

{% block heading scoped %}
  {% block alias_anchors scoped %}
    {% if function.hopsworks_aliases and function.hopsworks_aliases.aliases %}
      {% for alias in function.hopsworks_aliases.aliases -%}
        {% for path in alias.paths -%}
          {%- set alias_id = path + "." + (alias.as_alias or alias.object_name) -%}
          {% filter heading(
            heading_level,
            role="function",
            id=alias_id,
            class="doc doc-heading",
            hidden=true,
            skip_inventory=config.skip_local_inventory,
          ) -%}{%- endfilter %}
        {%- endfor %}
      {%- endfor %}
    {% endif %}
  {% endblock alias_anchors %}

  {% block source_link scoped %}
    {% if config.extra.link_source and function.source_link %}
      <span style="float:right;font-size:.8rem;font-weight:400"><a href="{{ function.source_link }}">[source]</a></span>
    {% endif %}
  {% endblock source_link %}

  {{ super() }}

{% endblock heading %}

{% block contents scoped %}
  {% block aliases scoped %}
    {% if function.hopsworks_aliases and function.hopsworks_aliases.aliases %}
      <p class="doc doc-class-aliases">
        Aliases: {% for alias in function.hopsworks_aliases.aliases -%}
          {% for path in alias.paths -%}
            {%- set fullpath = path + "." + (alias.as_alias or alias.object_name) -%}
            <a href="#{{fullpath}}"><code>{{fullpath}}</code></a>
            {%- if not loop.last %}, {% endif %}
          {%- endfor %}
          {%- if not loop.last %}, {% endif %}
        {%- endfor %}
      </p>
    {% endif %}
  {% endblock aliases %}

  {{ super() }}
{% endblock contents %}
