{% extends "_base/module.html.jinja" %}

{% block heading scoped %}
  {% block source_link scoped %}
    {% if config.link_source and module.source_link %}
      <span style="float:right;font-size:.8rem;font-weight:400"><a href="{{ module.source_link }}">[source]</a></span>
    {% endif %}
  {% endblock source_link %}

  {{ super() }}

{% endblock heading %}
