name: mkdocs-release

on:
  push:
    branches: [branch-*]

jobs:
  publish-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install ubuntu dependencies
        run: sudo apt-get install -y libxml2-dev libxslt-dev

      - name: install deps
        run: pip3 install 'git+https://github.com/logicalclocks/feature-store-api@master#egg=hsfs[docs]&subdirectory=python'

      - name: setup git
        run: |
          git config --global user.name Mike
          git config --global user.email mike@docs.hopsworks.ai

      # Put this back and increment version when cutting a new release branch
      - name: mike deploy docs
        run: mike deploy 3.5 -u --push
